<%= form_for(@prediction) do |f| %>
  <% if @prediction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prediction.errors.count, "error") %> prohibited this prediction from being saved:</h2>

      <ul>
      <% @prediction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table>
  <tr>
    <th>Date</th>
	<th>Kick Off</th>
	<th>Home</th>
    <th>Away</th>
	<th>Home</th>
	<th>Away</th>
  </tr>

	<% Fixture.where(:gameweek_no => 1).each do |fixture| %> 
		<tr>
			<td><%= fixture.match_date.strftime("%d/%m/%Y")%></td>
			<td><%= fixture.match_time.strftime("%H:%M") %></td>
			<td><%= fixture.home_team %></td> 
			<td><%= fixture.away_team %></td>
			<f.fields_for :predictions do |builder| %>
				<td><%= f.number_field :home_score %></td>
				<td><%= f.number_field :away_score %></td>
		</tr>
	<% end %>
  </table>

  <div class="field">
	<!-- THIS NEEDS TO BE SORTED FOR CURRENT GAMEWEEK CURRENTLY SET TO CURRENT USER -->
    <%= f.hidden_field :gameweek_no, :value => current_user.id %><br />
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %><br 
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
