<p id="notice"><%= notice %></p>

<h1>Gameweek <%= @prediction.gameweek_no %> Predictions</h1>

<table>
  <tr>
    <th>Date</th>
	<th>Home</th>
    <th>Away</th>
	<th>Prediction</th>
	<th>Result</th>
  </tr>

<% Fixture.where(:gameweek_no => 1).each do |fixture| %> 
  <tr>
    <td><%= fixture.match_date.strftime("%d/%m/%Y")%></td>
	<td><%= fixture.home_team %></td> 
    <td><%= fixture.away_team %></td>
	<% Scorecast.where(:fixture_no => fixture.id).each do |scorecast| %> 
		<td><%= scorecast.home_score %> - <%= scorecast.away_score %></td>
		<td>Pending</td>
	<% end %>
  </tr>
<% end %>
</table>

<%= form_for(@prediction) do |f| %>
  <% if @prediction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prediction.errors.count, "error") %> prohibited this prediction from being saved:</h2>

      <ul>
      <% @prediction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :gameweek_no %><br />
    <%= f.number_field :gameweek_no %>
  </div>
  <div class="field">
    <%= f.label :fixtures %><br />
    <%= f.number_field :fixtures %>
  </div>
  <div class="field">
    <%= f.label :points %><br />
    <%= f.number_field :points %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
