<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @prediction.user_id %>
</p>

<p>
  <b>Fixture No:</b>
  <%= @prediction.fixture_no %>
</p>

<p>
  <b>Home Score:</b>
  <%= @prediction.home_score %>
</p>

<p>
  <b>Away Score:</b>
  <%= @prediction.away_score %>
</p>

<%= link_to 'Edit', edit_prediction_path(@prediction) %> |
<%= link_to 'Back', predictions_path %>
