<%= form_for(@scorecast) do |f| %>
  <% if @scorecast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scorecast.errors.count, "error") %> prohibited this scorecast from being saved:</h2>

      <ul>
      <% @scorecast.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :gameweek_no %><br />
    <%= f.number_field :gameweek_no %>
  </div>
  <div class="field">
    <%= f.label :home_score %><br />
    <%= f.number_field :home_score %>
  </div>
  <div class="field">
    <%= f.label :away_score %><br />
    <%= f.number_field :away_score %>
  </div>
  <div class="field">
    <%= f.label :points %><br />
    <%= f.number_field :points %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
