<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @scorecast.user_id %>
</p>

<p>
  <b>Gameweek no:</b>
  <%= @scorecast.gameweek_no %>
</p>

<p>
  <b>Fixture no:</b>
  <%= @scorecast.fixture_no %>
</p>

<p>
  <b>Home score:</b>
  <%= @scorecast.home_score %>
</p>

<p>
  <b>Away score:</b>
  <%= @scorecast.away_score %>
</p>

<p>
  <b>Points:</b>
  <%= @scorecast.points %>
</p>


<%= link_to 'Edit', edit_scorecast_path(@scorecast) %> |
<%= link_to 'Back', scorecasts_path %>
