<%= form_for(@gameweek) do |f| %>
  <% if @gameweek.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gameweek.errors.count, "error") %> prohibited this gameweek from being saved:</h2>

      <ul>
      <% @gameweek.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gameweek_no %><br />
    <%= f.number_field :gameweek_no %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.time_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :fixtures %><br />
    <%= f.number_field :fixtures %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
