<p id="notice"><%= notice %></p>

<h1>Gameweek <%= @gameweek.gameweek_no %></h1>

<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <b>Number of matches:</b><%= @gameweek.num_fixtures %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <b>Deadline:</b><%= @gameweek.start_date.strftime("%d/%m/%Y") %> @ <%= @gameweek.start_time.strftime("%H:%M") %>
</p>

<table>
  <thead>
    <th>Date</th>
	<th>Kick Off</th>
	<th>Home</th>
    <th>Away</th>
  </thead>

<% Fixture.where(:gameweek_no => @gameweek.gameweek_no).each do |fixture| %> 
  <tr>
    <td><%= fixture.match_date.strftime("%d/%m/%Y")%></td>
	<td><%= fixture.match_time.strftime("%H:%M") %></td>
	<td><%= fixture.home_team %></td> 
    <td><%= fixture.away_team %></td>
  </tr>
<% end %>
</table>


<br>
<%= link_to 'Back', gameweeks_path %>
